<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>HW Day 13 - Passport and Auth0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Afacad Flux", sans-serif;
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 1000px;
            margin: auto;
            border-bottom: 1.5px solid black;

            h1 {
                display: inline-block;
            }

            li {
                display: inline-block;
                margin: 0 10px;
                list-style-type: none;

                a {
                    font-size: larger;
                    padding: 10px 20px;
                    border: 1.5px solid black;
                    border-radius: 5px;
                    text-decoration: none;
                    color: black;
                    transition: all 0.5s ease-in-out;
                }

                a:hover {
                    background-color: black;
                    color: white;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            margin: auto;

            p {
                font-size: larger;
            }

            img {
                border-radius: 5px;
                display: block;
                margin: auto;
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>LOGO</h1>
        <nav>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>USER PAGE</h1>
        <section>
            <hr>
            <img src=<%=user.picture %>>
            <p>Name: <%=user._json.given_name %>
                    <%=user._json.family_name %>
                        <p>E-mail: <%=user._json.email %>
                        </p>
                        <hr>
        </section>
    </div>
    <script></script>
</body>

</html>